/* ========== Fonts ========== */

/* ========== Roboto ========== */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Regular.eot");
  src: url("../assets/fonts/roboto/Roboto-Regular.eot?#iefix") 
        format("embedded-opentype"),
      url("../assets/fonts/roboto/Roboto-Regular.woff2") 
        format("woff2"),
      url("../assets/fonts/roboto/Roboto-Regular.woff") 
        format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto/Roboto-Medium.eot");
  src: url("../assets/fonts/roboto/Roboto-Medium.eot?#iefix") 
        format("embedded-opentype"),
      url("../assets/fonts/roboto/Roboto-Medium.woff2") 
        format("woff2"),
      url("../assets/fonts/roboto/Roboto-Medium.woff") 
        format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ========== Comforta ========== */

@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/comforta/Comfortaa-Medium.eot");
  src: url("../assets/fonts/comforta/Comfortaa-Medium.eot?#iefix") 
        format("embedded-opentype"),
      url("../assets/fonts/comforta/Comfortaa-Medium.woff2") 
        format("woff2"),
      url("../assets/fonts/comforta/Comfortaa-Medium.woff") 
        format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ========== Globals ========== */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #e2e6ee;
  background-color: #2e2e48;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 3px solid #2d3366;
  border-radius: 10px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #2d3366;
  transition: all 0.4s;
}

.button:hover {
  color: #98a1f1;
  background-color: transparent;
  transition: all 0.4s;
}

/* ========== Header ========== */

.header {
  padding: 10px 0;
  background-color: #242449;
}

.header-inner {
  display: table;
  width: 100%;
  min-height: 100px;
}

.logo {
  display: inline-block;
  width: 120px;
  height: 60px;
  border: 3px solid #2d3366;
  border-radius: 12%;
  background-color: #2d3366;
  text-align: center;
  line-height: 60px;
  transition: 0.4s;
}

.logo:hover {
  display: inline-block;
  background-color: transparent;
  color: #98a1f1;
  transition: 0.4s;
}

.header-inner__logo,
.header-inner__right {
  display: table-cell;
  vertical-align: middle;
}

.header-inner__right {
  max-width: 100%;
  white-space: normal;
  text-align: right;
}

.header-inner__menu {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.header-inner__list {
  white-space: normal;
}

.header-inner__item {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
}

.header-inner__item:hover {
  color: #98a1f1;
  transition: all 0.3s;
}

.header-inner__item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 100%;
  height: 2px;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.4s ease, opacity 0.20s ease 0.4s;
  transform-origin: center;
  background-color: #98a1f1;
  pointer-events: none;
  opacity: 0;
}

.header-inner__item:last-child {
  margin: 0;
}

.header-inner__item:hover::after {
  transform: translateX(-50%) scaleX(1);
  transition: transform 0.4s ease, opacity 0.20s ease;
  opacity: 1;
}

.header-inner__cta::after {
  display: none;
}

.header-inner__lang {
  padding: 12px 20px 12px 10px;
  border: 3px solid #2d3366;
  border-radius: 10px;
  text-transform: uppercase;
  color: inherit;
  background-color: #2d3366;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.header-inner__select {
  position: relative;
  display: inline-block;
}

.header-inner__select::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 42px;
  display: block;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  /* Создание треугольника */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #98a1f1 transparent transparent transparent;
}

/* fix for IE */
.header-inner__lang::-ms-expand {
  display: none;
}

.header-inner__lang:hover {
  color: #98a1f1;
  background-color: transparent;
  transition: all 0.4s;
}

.header-inner__link svg {
  vertical-align: -6px;
}

.header-inner__button {
  margin-left: 20px;
}

.header-inner__burger {
  position: relative;
  display: none;
  width: 40px;
  height: 25px;
  border: none;
  margin-left: 20px;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}

.header-burger__line {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #e2e6ee;
}

.header-burger__line:nth-child(2) {
  top: 50%;
}

.header-burger__line:last-child {
  top: 100%;
}

.header-inner__burger.active .header-burger__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 5px -1px;
}

.header-inner__burger.active .header-burger__line:nth-child(2) {
  rotate: -45deg;
}

.header-inner__burger.active .header-burger__line:last-child {
  width: 0;
}

/* ========== First screen ========== */

.first-screen {
  position: relative;
  display: table;
  width: 100%;
  padding: 20px 0;
}

.first-screen__description,
.first-screen__photo {
  display: table-cell;
  vertical-align: middle;
}

.first-screen__title {
  margin-bottom: 0;
  font-family: "Comfortaa";
  font-size: 60px;
  font-weight: 500;
  color: #98a1f1;
}

.first-screen__text {
  font-size: 32px;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.first-screen__text span {
  position: relative;
  color: #98a1f1;
}

.first-screen__text span::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #98a1f1;
}

.first-screen__link,
.first-screen__github-icon {
  display: inline-block;
  vertical-align: middle;
}

.first-screen__github-icon {
  vertical-align: -6px;
  margin-left: 8px;
}

.first-screen__contacts {
  font-style: normal;
  margin-top: 60px;
}

.first-screen__row {
  margin-top: 60px;
}

.first-screen__mail,
.first-screen__phone {
  display: inline-block;
}

.first-screen__mail {
  margin-right: 20px;
}

.first-screen__city-text,
.first-screen__mail-link,
.first-screen__phone-link {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.first-screen__city-text span,
.first-screen__mail-link span,
.first-screen__phone-link span {
  color: #98a1f1;
}

.first-screen__mail-link,
.first-screen__phone-link {
  position: relative;
  display: inline-block;
}

.first-screen__mail-link::before,
.first-screen__phone-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 10%;
  height: 2px;
  background-color: #98a1f1;
  transition: width 0.8s ease;
  pointer-events: none;
}

.first-screen__mail-link:hover::before,
.first-screen__phone-link:hover::before {
 width: 100%;
}

.first-screen__photo {
  text-align: right;
}

.first-screen__img img {
  border-radius: 50px;
}

.first-screen__arrow {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: -10%;
  width: 40px;
  height: 40px;
  transform: translateX(-50%);
  transition: 0.4s;
}

.first-screen__arrow:hover {
  transform: translate(-50%, 10px);
}

.first-screen__arrow svg:hover {
  fill: #98a1f1;
  transition: 0.4s;
}